<div class="flex justify-center gap-[20px] my-[60px] mx-auto w-[70%]">
  <div class="flex justify-between w-full">
    <div class="flex items-center gap-[15px] cursor-pointer" (click)="goBack()">
      <button class="rotate-[-90deg]">
        <img src="{{ upArrow }}" class="img" />
      </button>
      <span>Go Back</span>
    </div>
    <button
      class="bg-[#4661E6] text-[#fff] p-[22px] rounded-[12px] h-[44px] flex items-center cursor-pointer"
    >
      Edit Feedback
    </button>
  </div>
</div>
<div
  class="comment-container text-[#3A4374] flex gap-[30px] mx-auto items-center w-[70%]"
>
  <div
    class="flex w-full justify-between gap-[30px] bg-white px-[40px] py-[30px] rounded-[12px]"
  >
    <div class="flex items-center gap-[30px]">
      <div class="upvote-box rounded-[10px]">
        <img src="{{ upArrow }}" alt="up-arrow" />
        {{ feedback?.upvotes }}
      </div>
      <div class="title">
        <h1 class="text-lg font-jost font-bold">{{ feedback?.title }}</h1>
        <h2>{{ feedback?.description }}</h2>
        <div class="mb-[5px]">
          <button
            class="font-jost font-semibold text-[#4661E6] bg-[#F2F4FF] mx-[0px] my-[10px] py-[5px] px-[15px] rounded-[10px] text-[13px] capitalize"
          >
            {{ feedback?.category }}
          </button>
        </div>
      </div>
    </div>
    <div class="flex items-center">
      <div class="flex gap-[10px] cursor-pointer">
        <img src="{{ commentsBubble }}" alt="comments-bubble" />
        <span class="font-bold text-base">{{
          feedback?.comments?.length ?? 0
        }}</span>
      </div>
    </div>
  </div>
</div>
@if (feedback?.comments?.length ?? 0 > 0) {
<div
  class="comment-container bg-white px-[40px] py-[30px] rounded-[12px] text-[#3A4374] mt-[30px] mx-auto w-[70%]"
>
  <div>
    <div class="flex w-full gap-[10px]">
      <span class="text-lg font-jost font-bold">{{
        feedback?.comments?.length
      }}</span>
      @if (feedback?.comments?.length === 1) {
      <span class="text-lg font-jost font-bold">Comment</span>
      } @else {
      <span class="text-lg font-jost font-bold">Comments</span>
      }
    </div>
  </div>
  @for (comment of feedback?.comments; track $index) {
  <div class="flex justify-between items-center pt-15 pb-15">
    <div class="flex gap-[50px] items-start w-full">
      <img
        class="rounded-full w-[50px]"
        [src]="comment.user.image"
        alt="User image"
      />
      <div class="names">
        <h1 class="font-jost font-bold">{{ comment.user.name }}</h1>
        <h1>@{{ comment.user.username }}</h1>
        <div class="mt-5">{{ comment.content }}</div>
      </div>
      <span class="font-jost font-bold text-[#4661E6] cursor-pointer"
        >Reply</span
      >
    </div>
  </div>
  @for (reply of comment.replies; track $index) {
  <div class="flex justify-between items-center pt-15 pb-15 ml-[10%]">
    <div class="flex gap-[50px] items-start w-full">
      <img
        class="rounded-full w-[50px]"
        [src]="reply.user.image"
        alt="User image"
      />
      <div class="names">
        <h1 class="font-jost font-bold">{{ reply.user.name }}</h1>
        <h1>@{{ reply.user.username }}</h1>
        <div class="mt-5">
          <span class="font-jost font-bold text-[#AD1FEA] mr-3"
            >@{{ reply.replyingTo }}</span
          >{{ reply.content }}
        </div>
      </div>
      <span class="font-jost font-bold text-[#4661E6]">Reply</span>
    </div>
  </div>
  }
  <hr class="hr-color" />
  }
</div>

}
