.comment-container {
  background: #fff;
  border-radius: 10px;
  margin-top: 15px;
  padding: 22px 30px;
}

.upvote-box {
  width: 40px;
  height: 53px;
  background: #f2f4fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
